.container {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    height: 100vh;
    margin: 0 auto;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    border: 1px black solid;
    flex: 1;
}
